<%- include('../partials/header') %>

<form action="/inventory/<%= item._id %>?_method=PUT" method="POST" class="container">
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Quantity:</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" name="quantity" min="0" step=".1" value="<%= item.quantity %>">
    </div>
  </div>
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Unit:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="unit" value="<%= item.unit %>">
    </div>
  </div>
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Item:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="item" value="<%= item.item.name %>">
      <input type="hidden" name="itemId" value="<%= item.item._id %>">
    </div>
  </div>
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Date Of Expire:</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="expire" value="<%= item.expireFormatted %>">
    </div>
  </div>
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Category:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="category" value="<%= item.category %>">
    </div>
  </div>
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Location:</label>
    <div class="col-sm-4">
      <select class="form-control" name="location">
        <option value="Fridge" <%= item.location === 'Fridge' ? 'selected' : '' %>>Fridge</option>
        <option value="Freezer" <%= item.location === 'Freezer' ? 'selected' : '' %>>Freezer</option>
        <option value="Pantry" <%= item.location === 'Pantry' ? 'selected' : '' %>>Pantry</option>
      </select>
    </div>
  </div>
  <div class="row form-group mb-3">
    <label class="col-sm-2 col-form-label">Favorite Item:</label>
    <div class="col-sm-4">
      <input type="checkbox" class="form-check-input" name="favItem" <%= item.favItem ? 'checked' : '' %>>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-2">
      <input class="btn btn-outline-dark" type="submit" value="Save Item">
    </div>
  </div>
</form>

<%- include('../partials/footer') %>