<%- include('../partials/header') %>

<% if (inventory && inventory.length > 0) { %>
  <div class="d-flex justify-content-center">
    <h4 class="text-danger"><%= inventoryMsg %></h4>
  </div>
  <div class="d-flex justify-content-between mb-3 p-2">
    <a class="btn btn-outline-dark" href="/inventory/new">Create New Inventory Item</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/inventory?sort=item">Item: A-Z</a>
        <a class="dropdown-item" href="/inventory?sort=-item">Item: Z-A</a>
        <a class="dropdown-item" href="/inventory?sort=category">Category: A-Z</a>
        <a class="dropdown-item" href="/inventory?sort=-category">Category: Z-A</a>
        <a class="dropdown-item" href="/inventory?sort=location">Location A-Z</a>
        <a class="dropdown-item" href="/inventory?sort=-location">Location: Z-A</a>
        <a class="dropdown-item" href="/inventory?sort=expire">Expire Date: First</a>
        <a class="dropdown-item" href="/inventory?sort=-expire">Expire Date: Last</a>
        <a class="dropdown-item" href="/inventory?sort=createdAt">Date Added</a>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit</th>
        <th scope="col">Item</a></th>
        <th scope="col">Date Added</th>
        <th scope="col">Date of Expire</th>
        <th scope="col">Category</th>
        <th scope="col">Location</th>
        <th scope="col">Favorite Item</th>
        <th scope="col">Add to GL</th>
        <th scope="col">Edit Item</th>
        <th scope="col">Delete Item</th>
      </tr>
    </thead>
    <tbody>
      <% inventory.forEach(function(inv) { %>
        <% inv.inventoryItems.forEach(function(i) { %>
        <tr>
          <th scope="row"></th>
          <td class="align-middle"><%= i.quantity %></td>
          <td class="align-middle"><%= i.unit ? i.unit : 'N/A' %></td>
          <td class="align-middle"><%= i.item.name %></td>
          <td class="align-middle"><%= new Date(i.createdAt).toLocaleDateString() %></td>
          <% let date = formatDate(i.expire) %>
          <td class="align-middle <%= expiresSoon(i.expire) ? 'text-danger' : '' %>"><%= i.expire ? new Date(date).toLocaleDateString() : 'N/A' %></td>
          <td class="align-middle"><%= i.category %></td>
          <td class="align-middle"><%= i.location %></td>
          <td class="align-middle"><%= i.favItem ? '❤️' : '' %></td>
          <td>
            <form action="/item/<%= i._id %>" method="POST">
              <input type="hidden" name="item" value="<%= i.item._id %>">
              <button class="btn btn-outline-dark" type="submit">Add</button>
            </form>
          </td>
          <td class="align-middle"><a href="/inventory/<%= i._id %>/edit" class="btn btn-outline-dark">Edit</a></td>
          <td>
              <form action="/item/<%= i._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-dark" type="submit">DELETE</button>
              </form>
          </td>
        </tr>
        <% }); %>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <p>You don't have any inventories created yet!</p> 
      <p><a class="btn btn-outline-dark" href="/inventory/new">Create New Inventory Item</a> 
      get started with building your inventory</p>
    </div>
  </div>
<% } %>

<%- include('../partials/footer') %>